<div class="container">
    {% set slotsGroupedByDay = this.slotsGroupedByDay %}
    <twig:Card>
        <div class="planning-body">
            {% for day, slots in slotsGroupedByDay %}
                <twig:Planning:Day date="{{ date(day) }}">
                    {% for slot in slots %}
                        {% set startTime = slot.startTime|date('H:i') %}
                        {% set endTime = slot.endTime|date('H:i') %}
                        <twig:Planning:Slot
                            isOpen="{{ slot.isOpen }}"
                            type="{{ slot.type.value }}"
                            time="{{ startTime }} - {{ endTime}}"
                            participants="{{ slot.participants }}"
                            maxCapacity="{{ slot.maxCapacity }}"
                        />
                    {% endfor %}
                </twig:Planning:Day>
            {% endfor %}
        </div>
        <div class="planning-footer">
            <twig:Planning:Legend />
        </div>
    </twig:Card>
</div>
